<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CRUD User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="newUser.username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="newUser.password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Select User Role</ion-label>
      <ion-select [(ngModel)]="newUser.role" [interfaceOptions]="customActionSheetOptions" interface="action-sheet"
        placeholder="Select Role" (ionChange)="getRole($event)">
        <ion-select-option value="USER">User</ion-select-option>
        <ion-select-option value="ADMIN">Admin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-radio-group [(ngModel)]="newUser.status" (ionChange)="checkValue($event)">
      <ion-list-header>
        <ion-label>User Status</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Enable</ion-label>
        <ion-radio value="enable" checked></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Disable</ion-label>
        <ion-radio value="disable"></ion-radio>
      </ion-item>
    </ion-radio-group>

  </ion-list>

  <ion-segment class="ion-padding">
    <ion-segment-button (click)="addUser()" layout="icon-bottom">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add Item</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="updateOneUser(newUser)" layout="icon-bottom">
      <ion-icon name="sync"></ion-icon>
      <ion-label>Update</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-bottom" (click)="clearUser(newUser)">
      <ion-icon name="brush"></ion-icon>
      <ion-label>Clear</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="deleteUser(newUser)" layout="icon-bottom">
      <ion-icon name="trash" color="danger"></ion-icon>
      <ion-label>Delete</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list #userlist>

    <ion-list-header>
      <ion-label>User list</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let user of users" (click)="readOneUser(user)">

      <ion-item>
        <ion-icon color="{{ user.status === 'enable' ? 'primary' : 'danger' }}"
          name="{{ user.role === 'ADMIN' ? 'person-add' : 'person' }}" slot="start"></ion-icon>
        <p>{{ user.username }}</p>
        <p slot="end">{{ user.modified | date:'short'}}</p>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updateOneUser(user)">
          <ion-icon name="settings"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteUser(user)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>