<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ionic Auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="user.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.pw"></ion-input>
  </ion-item>
  <ion-segment padding>
    <ion-segment-button checked (click)="signIn()" layout="icon-bottom">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)='backHome()' layout="icon-bottom">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>