<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ionic Role Auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email"  [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.pw"></ion-input>
  </ion-item>
  <ion-segment>
    <ion-segment-button checked (click)="signIn()" layout="icon-bottom">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)='backHome()' layout="icon-bottom">
      <ion-icon name="home"></ion-icon>
      <ion-label>Item Two</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>