<ion-header>
  <ion-toolbar>
    <ion-title>Ionic Toturial Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <preloading-image [ratio]="{w: 2, h: 0.5}"
    [src]="'https://cdn.scotch.io/scotchy-uploads/2015/11/Ionic_Logo.svg_.png'">
  </preloading-image>
  <ion-button expand="full" (click)="crudPage()">CRUD Storage</ion-button>
  <ion-button expand="full" (click)="crudUser()">CRUD User</ion-button>
  <ion-button expand="full" (click)="dataDashboard()">Data Dashboard</ion-button>
  <ion-button expand="full" (click)="signOut()">Logout & Register</ion-button>
  <login></login>
</ion-content>